{
  "printWidth": 90,
  "tabWidth": 2,
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "importOrder": ["^react", "^@shared", "^@app", "^@components", "^@utils", "^[a-z]", "^~", "^@"],
  "importOrderSeparation": false
}
